<nav class="navbar navbar-default" color="success">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Registro Actividades UdeA</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Usuario</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="div container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="text-center">Lista de Cursos del Profesor Sebastián</h2>
          </div>
          <table class="table table-hover">
            <thead>
              <th class="text-center">Semestre</th>
              <th class="text-center">Curso</th>
              <th class="text-center">Grupo</th>
              <th class="text-center">Número Estudiantes</th>
              <th class="text-center">Horario</th>
              <th class="text-center">Horas acumuladas</th>
              <th class="text-center">Opciones</th>
            </thead>
            <tbody>
              <tr>
                <td>2017-1</td>
                <td>FISICA DE CAMPOS</td>
                <td>GRUPO-01-FISICA DE CAMPOS</td>
                <td>30</td>
                <td>V14-16-S8-10</td>
                <td>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                  </div>
                </td>
                <td>
                  <a href="#" class="btn btn-primary glyphicon glyphicon-search"></a>
                  <a href="#" class="btn btn-success glyphicon glyphicon-pencil"></a>
                  <a href="#" class="btn btn-danger glyphicon glyphicon-trash"></a>
                </td>
              </tr>
              <tr>
                <td>2017-1</td>
                <td>FISICA DE CAMPOS</td>
                <td>GRUPO-01-FISICA DE CAMPOS</td>
                <td>30</td>
                <td>V14-16-S8-10</td>
                <td>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                  </div>
                </td>
                <td>
                  <a href="#" class="btn btn-primary glyphicon glyphicon-search"></a>
                  <a href="#" class="btn btn-success glyphicon glyphicon-pencil"></a>
                  <a href="#" class="btn btn-danger glyphicon glyphicon-trash"></a>
                </td>
              </tr>
              <tr>
                <td>2017-1</td>
                <td>FISICA DE CAMPOS</td>
                <td>GRUPO-01-FISICA DE CAMPOS</td>
                <td>30</td>
                <td>V14-16-S8-10</td>
                <td>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                  </div>
                </td>
                <td>
                  <a href="#" class="btn btn-primary glyphicon glyphicon-search"></a>
                  <a href="#" class="btn btn-success glyphicon glyphicon-pencil"></a>
                  <a href="#" class="btn btn-danger glyphicon glyphicon-trash"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
